body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

html, body, #map {
	height: 100%;
	width: 100%;
}

#map {
        position: absolute;
}

.uiGridTop  {
  height: 10%;
  width: 90%;
  top: 2%;
  right: 3%;
  background: #FFFFFF;
}

.uiGrid  {
  height: 10%;
  width: 40%;
  top: 12%;
  right: 53%;
  background: #FFFFFF;
}

.uiGrid2  {
  height: 10%;
  width: 50%;
  top: 12%;
  right: 3%;
  background: #FFFFFF;
}

.uiGridVertical  {
  height: 70%;
  width: 23%;
  top: 22%;
  right: 70%;
  background: #FFFFFF;
}

@media all and (max-width: 30em; min-width: 10em) {
  .uiGrid .ui-block-a,
  .uiGrid .ui-block-b,
  .uiGrid .ui-block-c,
  .uiGrid2 .ui-block-a,
  .uiGrid2 .ui-block-b,
  .uiGrid2 .ui-block-c,
  .uiGridTop .ui-block-a,
  .uiGridTop .ui-block-b,
  .uiGridTop .ui-block-c,
  .uiGridTop2 .ui-block-a,
  .uiGridTop2 .ui-block-b,
  .uiGridTop2 .ui-block-c,
}
